.flexContainer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flexContainer > div {
  display: flex;
  position: relative;
  padding: 3px 10px;
  width: 80%;
  margin: 10px;
  height: fit-content;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.flexContainer > div > button {
  position: absolute;
  right: 1%;
  top: 0%;
  width: 100px;
  height: 40px;
  line-height: 0px;
  margin: 10px;
}

.flexContainer > div > p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}
