header {
  text-align: center;
  border-bottom: 1px black solid;
}

.addTodo {
  display: flex;
  margin: 30px;
}

input[type="text"],
button {
  font-size: 20px;

  line-height: 180%;
  width: fit-content;
}

input[type="submit"] {
  width: 100px;
  font-size: 20px;
}

main {
  margin: 20px;
}

form {
  width: 500px;
  height: 250px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40 auto;
  display: flex;
  flex-direction: column;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexContainer > div {
  padding: 30px;
  margin: 2%;
  flex: 0 30%;
  width: 100%;
  border: red solid;
  box-sizing: border-box;
}
